// Page header
#front-hero {
	.marketing {
		@include grid-row();
		max-width: 55rem;
	}

	.parallax-window {
    min-height: 400px;
    background: transparent;
}

	@include breakpoint(small) {
		//background: url('../images/hero-bg.jpg') top center;
		background-size: cover;
		background-position: top;
		padding: rem-calc(65%) 0;
		margin: 0 0 rem-calc(32);
		height: auto;
		position: relative;
		text-align: left;
	}

	@include breakpoint(medium) {
		//background: url('../images/hero-bg.jpg') top center;
		background-size: cover;
		background-position: top;
		height: rem-calc(685);
		margin: 0 0 2rem;//rem-calc(72);
	}

	#watch {

		@include breakpoint(small) {
			@include grid-column(7);
			@include grid-column-position(-5);
		}

		@include breakpoint(medium) {
			@include grid-column(12);
			@include grid-column-position(0);
		}

		section {
			display: inline;
		}

		a {
			color: #B4C9D1;
			cursor: pointer;
			font-weight: 400;
			margin-right: rem-calc(20);
		}

		a:hover {
			color: #fff;
		}

		#stargazers {
			:before {
				content: "\f09b";
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-decoration: inherit;
				color: #B4C9D1;
				margin-right: rem-calc(8);
			}
		}

		#twitter {
			:before {
				content: "\f099";
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-decoration: inherit;
				color: #B4C9D1;
				margin-right: rem-calc(8);
			}
		}

	}

	.tagline {

		@include breakpoint(small) {
			@include grid-column(8);
		}

		@include breakpoint(medium) {
			@include grid-column(7);
			padding-top: 6rem;
		}
		h3 {}
	}
	.register-classes {
		@include breakpoint(medium) {
			@include grid-column(4);
			margin-top:9rem;
			//background-color: rgba(10, 10, 10, 0.3);
			// box-shadow: none;
			// border: 4px $black solid;
			// color: $black;
		}
	}

	.tagline h3 {
		color: #fff;
		font-weight: 600;

		@include breakpoint(small) {
			//font-size: 2.2rem;
		}

		@include breakpoint(medium) {
			//font-size: 2.875rem;
		}

	}

	h4 {
		color: #fefefe;
		//font-weight: 300;
		font-size: 1.3125rem;
	}
	.tagline-overlay {
		background-color: rgba(0, 0, 0, 0.3);
		padding:1.7rem;
	}
	.register-classes { //margin-top: rem-calc(20);
	}

}

// Intro
.intro {
	@include grid-row();

	.fp-intro {

		@include breakpoint(small) {
			@include grid-column(12);
		}

		@include breakpoint(medium) {
			@include grid-column(10);
			@include grid-column-offset(1);

			h2 {
				font-weight: 300;
				margin-bottom: 1.5rem;
			}

			h4 {
				font-size: 1.125rem;
				line-height: 1.6;
				color: #777;
				margin-bottom: 2rem;
			}

		}
	}
}

// Section divider
.section-divider {
	@include grid-row();

	hr {
		@include grid-column(12);
		@extend .dotted;
		box-sizing: border-box;
	}
}
// Content Main
	#content-main {
		position: relative;
		@include breakpoint(small) {
			top:-2rem;
		}
		@include breakpoint(medium) {
			top:-12rem;
		}
	}

// Benefits
.benefits {
	@include grid-row();
	position: relative;
	//background-color: rgba(255, 255, 255, .8);
	background-color: $white;

	header {
		@include grid-column(12);

		h2 {
			font-weight: 300;
		}

		h4 {
			font-size: 1.125rem;
			line-height: 1.6;
			color: #777;
		}
	}
	.martial-arts {
		@include grid-column(12);
	}
	.wing-chun, .tong-bei, .tai-chi {
		//background-color: $white;
		text-align: center;
	}
	.wing-chun,
	.tong-bei,
	.tai-chi,
	.professional {
		@include breakpoint(small) {
			@include grid-column(12);
		}

		@include breakpoint(medium) {
			@include grid-column(4);
		}

		img {
			padding: 1.25rem;
    	margin: 1rem auto 0 auto;
		}

		h3 {
			color: $black;
			font-weight: 300;
			font-size: 1.75rem;
		}

		p { font-size: 0.9375rem; }

	}

	.why-foundation {
		@include grid-row();
		@include grid-column(12);
		margin-top: 4rem;
	}

}

// Why UMC
.why-umc {@include grid-row();}
.testimonials-module {
	@include grid-column(12)
	.orbit {
		margin:0 6rem;
		h3 {
			color: $black;
			font-weight: 300;
			font-size: 1.75rem;
		}
		.orbit-slide {
			//margin:0 4rem;
		}
		.orbit-slide p, orbit-slide h3 {
			margin:0 4rem;
		}
	}
}


// News
.recent-updates {
	@include grid-row();
	text-align: center;

	.news-posts {
		@include grid-column(9);
		text-align: left;
	}

	.media {
		@include grid-column(3);
		text-align: left;
	}


}
