// System Colors
$black: #0a0a0a;
$brand: #ffcd20;
$link: #1a77bd;

// Inline link styles
a {
  border-bottom:1px solid $link;
  padding-bottom:2px;
}

// Group Label
a.label {}
.label {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: .025rem;
    background-color: black;
    color: white;
    padding: .75rem 1.25rem;
    min-width: 4rem;
    display: inline-block;
    a {color:inherit;}
    &:hover {
      background-color: $link;
      cursor: pointer;
    }
}

// Last item in Nav use Primary Color
#menu-main > li:last-child {
  a {
   color:$white;
   background-color: black;
   border-bottom: 2px solid $brand;
  }
}
