// System Colors
$black: #0a0a0a;
$black2: #222222;
$brand: #ffcd20;
$link: #1a77bd;

// Inline link styles
#content-main a, .tagline-overlay a {
  border-bottom:1px solid $link;
  padding-bottom:2px;
}
#content-main .martial-arts a {
  border-bottom: none;
  padding-bottom: 0;
}

//
#content-main blockquote {
  //border-left: none;
}
q {
  quotes: "“" "”" "‘" "’";
}
q:before {
    content: open-quote;
}
q:after {
    content: close-quote;
}

// Group Label
a.label {}
.label {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: .025rem;
    background-color: black;
    color: white;
    padding: .75rem 1.25rem;
    min-width: 4rem;
    display: inline-block;
    a {color:inherit;}
    &:hover {
      background-color: $link;
      cursor: pointer;
    }
}

// Last item in Nav use Primary Color
#menu-main > li:last-child {
  a {
   color:$white;
   background-color: black;
   border-bottom: 2px solid $brand;
  }
}

.top-bar-left {
   a{
    border-bottom: none;
    color:inherit;
  }
}

#footer-container {
  background: -webkit-linear-gradient($black2, $black);
  background: -o-linear-gradient($black2, $black);
  background: -moz-linear-gradient($black2, $black);
  background: linear-gradient($black2, $black);
  color: $white;
}
#footer {
  .brand {
    padding: 0.7rem 1rem;
    a {
      color:$white;
    }
  }
  .footer-item {
    line-height:1rem;
  }
}
