// System Colors
$black: #0a0a0a;
$black2: #222222;
$brand: #ffcd20;
$link: #1a77bd;

// Transition
@mixin transition-main($time) {
  transition: all $time ease;
}

// Gradient
@mixin background-gradient() {
    // background-image: linear-gradient(90deg, rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.40) 72%);

    background-image: linear-gradient(-90deg, rgba(255,255,255,0.00) 28%, rgba(0,0,0,0.40) 100%);
}

// Inline link styles
#content-main .tagline-overlay a {
  border-bottom:1px solid $link;
  padding-bottom:2px;
}
#content-main .martial-arts a {
  border-bottom: none;
  padding-bottom: 0;
}

//
#content-main blockquote {
  //border-left: none;
}
q {
  quotes: "“" "”" "‘" "’";
}
q:before {
    content: open-quote;
}
q:after {
    content: close-quote;
}

// Inline / See more button
.inline-button {
  border-radius:32px;
  display: inline-block;
  color: $white;
  background-color: #227FBB;
  padding: .5rem 1.5rem;
  margin-top:1rem;
  &:hover {
    background-color: #2C97DE; color:$white;
    @include transition-main(300ms);
  }
}


// Hero gradient
.hero-gradient {
  @include background-gradient();
  height:100%;
  width: 60%;
  position:absolute;
  top:0;
}

// Adjust Orbit button pagination
.orbit-bullets button {
  width:.8rem;
  height: .8rem;
}
.orbit-previous, .orbit-next {
  color:rgba($black2, .2);
  background-color: rgba(0,0,0,0);
  height:100%;
  &:hover {
    color:$white;
    background-color: rgba(0,0,0,.5);
    @include transition-main(300ms);
  }
}

// Group Label
a.label {}
.label {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: .025rem;
    background-color: black;
    color: white;
    padding: .75rem 1.25rem;
    min-width: 4rem;
    display: inline-block;
    margin-bottom: 1.25rem;
    a {color:inherit;}
    &:hover {
      background-color: $link;
      cursor: pointer;
    }
}

// Last item in Nav use Primary Color
#menu-main > li:last-child {
  a {
   color:$white;
   background-color: black;
   border-bottom: 2px solid $brand;
  }
}

.top-bar-left {
   a{
    border-bottom: none;
    color:inherit;
  }
}

#footer-container {
  background: -webkit-linear-gradient($black2, $black);
  background: -o-linear-gradient($black2, $black);
  background: -moz-linear-gradient($black2, $black);
  background: linear-gradient($black2, $black);
  color: $white;
}
#footer {
  .brand {
    padding: 0.7rem 1rem;
    a {
      color:$white;
    }
  }
  .footer-item {
    line-height:1rem;
  }
}
