.sites-button {
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
  //border-radius: 3px;
  border: 4px white solid;
  transition: $button-transition;
  &:hover {
    background: rgba( $black, .25 );
    color:$primary;
    border-color: $primary;
  }
}
