$background-gray: rgba(0,0,0,0.025);
@mixin background-gray($background-gray) {
  background-color: $background-gray;
}

.sidebar {
  @include breakpoint(small) {
    @include grid-column(12);
  }

  @include breakpoint(medium) {
    @include grid-column(4);
  }
  padding:1.25rem;
  @include background-gray($background-gray);
}
